.cart {
    padding: 50px 0 150px;
    background-color: #F4F6F8;
}
.cart-list {
    margin-top: 40px;
}
.cart-item {
    min-height: 60px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(202, 214, 226, 0.25);
    border-radius: 25px 0px;
    overflow: hidden;
    transition: .4s;
    margin-bottom: 25px;
    &:last-child {
        margin-bottom: 0;
    }
    &:hover {
        transform: scale(1.03);
    }
}
.cart-photo {
    width: 210px;
    height: 100%;
    img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        border-radius: 25px 0px;
    }
}
.cart-info {
    display: flex;
    align-items: center;
    font-weight: 600;
    h3 {
        font-size: 16px;
        line-height: 21px;
        color: #333;
    }
    p {
        font-size: 12px;
        color: $main-color;
        margin-left: 150px;
        span {
            font-size: 18px;
        }
    }
}
.cart-delete {
    display: block;
    transition: .4s;
    &:hover {
        transform: rotate(90deg);
    }
}
.cart-total {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 25px;
    p {
        color: #9293BA;
        font-size: 14px;
    }
    span {
        font-size: 13px;
        color: $main-color;
        margin-left: 5px;
        b {
            font-size: 16px;
        }
    }
}
.cart-login {
    margin-top: 40px;
}
.social-row{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
    .social-login{
        box-sizing: border-box;
        width: 33.33%;
        padding: 0 15px !important;
        margin: 0;
        .cart-social{
            width: 100%;
            box-sizing: border-box;
            padding: 25px;
            height: calc(100% - 30px);
            img{
                width: 80px;
                height: 80px;
                margin: 0 auto;
                display: block;
                margin-bottom: 25px;
            }
            h3{
                color: #111E6C;
                font-weight: bold;
                font-size: 16px;
            }
        }
    }
    @media (max-width: 1200px) {
        .social-login .cart-social{
            padding: 15px;
        }
    }
    @media (max-width: 980px) {
        .social-login {
            width: 50%;
            &:last-child{
                width: 100%;
            }
        }
    }
    @media (max-width: 700px) {
        .social-login {
            width: 100%;
        }
    }
}
.cart-title {
    h2 {
        max-width: 100%;
    }
}
.cart-social {
    //width: 300px;
    background-color: #fff;
    border-radius: 10px;
    margin: 20px auto 0;
    box-sizing: border-box;
    h3{
        color: #111E6C;
        font-weight: bold;
        font-size: 16px;
    }
}
.cart-reg {
   width: 300px;
   height: 44px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-transform: uppercase; 
   font-weight: 500;
    font-size: 14px;
    margin: 0 auto;
    border: 2px solid $main-color;
    border-radius: 22px 0px 22px 22px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    span {
        position: relative;
        z-index: 2;
        transition: .2s;
    }
    &::before {
        content: '';
        width: 0%;
        height: 44px;
        background-color: $main-color;
        position: absolute;
        left: -2px;
        top: -2px;
        transition: .4s;
    }
    &:hover {
        span {
            color: #fff;
        }
        &::before {
            width: 102%;
        }
    }
}
.cart-log {
    @include button(300px, 44px);
    margin: 30px auto 15px; 
    i {
        background-color: #fff;
    }
}
.cart-btn {
    background: linear-gradient(180deg, #192EAC 0%, #111E6C 100%);
    color: #fff !important;
    position: relative;
    border: none !important;
    margin-right: 30px !important;
    span {
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px 0;
        background: #F4F6F8;
        color: $main-color;
        position: absolute;
        right: -12px;
    }
    &:hover {
        background: linear-gradient(180deg, #4056DE 0%, #1E2F9A 100%) !important;
        color: #fff !important;
    }
}
.cart-pay {
    @include button(300px, 44px);
    background: #76BA1B;
    margin: 0 auto 20px;
    transition: .4s;
    i {
        background-color: #fff;
        color: #76BA1B;
    }
    &:hover {
        background: #92D33A;
    }
}
.cart-payment {
    margin-top: 50px;
}
.cart-payment-title {
    width: fit-content;
    margin-left: 0;
}
.cart-ckeck-icon {
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #C5D2DE;
    border-radius: 0 10px;
    position: relative;
    flex-shrink: 0;
    &::before {
        content: '';
        width: 10px;
        height: 10px;
        background-color: #C5D2DE;
        border-radius: 0 5px;
        position: absolute;
        opacity: 0;
        transition: .3s;
    }
    
}
.cart-list-check {
    margin-top: 25px;
}
.cart-ckeck {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 50px;
    &:last-child {
        margin-bottom: 0;
    }
    p {
        color: $main-color;
        margin-left: 10px;
        font-size: 14px;
    }
    &:hover {
        div {
            &::before {
                opacity: 1;
            }
        }
    }
}
.cart-ckeck-active {
    div {
        &::before {
            background-color: #76BA1B;
            opacity: 1;
        }
    }
    p {
        color: $main-color !important;
    }
}